.header
    background: url('../assets/img/bg.jpg')
    background-repeat: no-repeat
    background-position: center -4px
    background-size: auto
    &__wrapper
        display: flex
        align-items: center
        justify-content: space-between
        padding: 20px 20px 17px 20px
.logo
    background-image: url('../assets/svg/logo.svg')
    background-repeat: no-repeat
    transition: 0.3s
.icon
    width: 50px
    height: 50px
    fill: #ffffff
    vertical-align: middle
    transition: 0.3s
    &:hover
        fill: #BDAE82
.nav
    margin-left: auto
    &__list
        display: flex
        align-items: center
        margin-right: 33px
    &__item
        font-size: 20px
        line-height: 50px
        margin-left: 30px
    &__link
        text-decoration: none
        color: #ffffff
    &__link:hover
        color: #bdae82
.lang
    font-weight: bold
    font-size: 20px
    line-height: 50px
    color: #ffffff
    text-transform: uppercase
    margin-right: 35px
    &__en
        text-decoration: none
        color: #ffffff
    &__ru
        text-decoration: none
        color: #ffffff
    &--active
        color: #BDAE82
.toggle
    cursor: pointer
.menu
    &__btn
        width: 50px
        height: 50px
        border: none
        background-color: transparent
        padding: 12.5px 0
        cursor: pointer
        position: relative
        display: none
        span
            display: block
            height: 3px
            background-color: #ffffff
            transition: 0.3s
        &-active
            span
                display: none
            &::before
                top: 30px
    &__btn
        &::after, &::before
            content: ''
            position: absolute
            left: 0
            right: 0
            height: 3px
            background-color: #ffffff
            transition: 0.3s
        &::after
            bottom: 11px
        &::before
            top: 11px
        &-active
            &::before
                top: 2px
                height: 2px
                width: 127%
                transform-origin: left top
                transform: rotate(45deg)
            &::after
                bottom: 0
                height: 2px
                width: 130%
                transform-origin: left bottom
                transform: rotate(-45deg)
